
body {
    padding-top: 130px;
}
hr{
color: gray;
}
a {
    line-height: 1.35;
    letter-spacing: 1px;
}

.ad_header {
    background-color: #fe7200;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4px 0;
    z-index: 2;
}

.ad_header>p {
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px 10px;
    display: inline-block;
    color: white;
    text-align: left;

}

.ad_header>a {
    text-decoration: none;
    color: white;
}

.top_header {
    background-color: #00142D;
    text-align: right;
    position: fixed;
    top: 28px;
    left: 0;
    width: 100%;
}

.top_header a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
}

.header {
    background-color: white;
    position: fixed;
    display: flex;
    width: 100%;
    top: 65px;
    /* left: 0; */
    align-items: center;
    justify-content:center;
    
}

.header .logo {
    padding: 10px 20px;
}

.header nav {
    text-align: left;
    font-size: 0;
    width: 100%;
}

.header nav a {
    font-size: 16px;
    text-decoration: none;
    line-height: 52px;
    padding: 0 10px;
}

.btn{
    text-decoration: none;
    color: white;
    background: #0061FF;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 25px;
    display: inline-block;
    text-decoration: none;
}

.btn:hover{
    background-color: rgb(8, 24, 116);
    cursor: pointer;
}

.btn_location {
    display: inline-block;
    
    position: absolute;
    top: 15px;
    right: 20px;
}

.banner{
    background-image: url("https://img.shoplineapp.com/media/image_clips/5f069a12dc4d9a00335656c2/original.png?1594268177");
    color: white;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center ;
   padding: 5% 0;
   margin-bottom: 5%;
}
.banner article{
    padding-right: 5%;
    /* width: 50%; */
    /* padding: 0 0 0 12%; */
}
.banner h1{
    line-height: 1.7;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 15px;
}
.banner p{
    line-height: 1.2;
    font-size: 10px;
    padding-bottom: 30px;
}
.banner img{
    /* width: 45%; */
}

.banner span{
    color:#00c66a;
}
.banner .inline{
display: flex;
}

.banner .inline input{
    width: 55%;
    margin: 0 30px 0 0;
    background:transparent;
    border-width: 1px ;
    border-color: transparent transparent white transparent;
    outline: 0;
    color: white;
    /* border-width: 0 0 1; */
}
.banner .inline input::placeholder{
   color: white;
}
/* .banner_btn{
    display: inline-block;
    background-color: blue;
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 5px;
} */

/* .path {
    display: flex;
}

.path li {
    position: relative;
    padding: 6px 8px;
}

.path li a {
    color: #aaa;
    text-decoration: none;
    font-size: 16px;
}

.path li+li::before {
    content: "/";
    color: #aaa;
    position: absolute;
    left: 0;
} */

.wrap {
    width: 960px;
    font-weight: 100;
    margin: auto;
}

.mid_text {
    /* 跟about 一樣 只是我把每一段都分開你比較好看  只差在背景顏色*/
    padding: 40px 0 60 px;
}

.mid_text>p {
    /* 跟.about > p 一樣  */
    width: 760px;
    font-size: 16px;
    margin: auto;
    text-align: center;
    padding: 20px 0;
    line-height: 1.5;
}

.mid_text>h2 {
    /* 跟.about > h2 一樣  */
    width: 960px;
    font-size: 36px;
    margin: auto;
    text-align: center;
    padding: 20px 0;
    line-height: 1.5;
    padding: 10px 0 60px;
}

.products {
    background-color: white;
    margin-bottom: 100px;
    text-align: left;
}

.products .wrap {
    display: flex;
}

.products .item {
    width: 50%;
}

.products .item img {
    width: 100%;
}

.products .item .text_btn {
    text-decoration: none;
    font-size: 10px;
}

.products .item .text_btn>a {
    text-decoration: none;
}

.products .pic {
    margin: auto;
}

.products .text {
    padding: 0 20px;
    font-size: 16px;
    line-height: 1.5;
}

.products .text>h3 {
    font-size: 28px;
    font-weight: bolder;
}

.products .text>p {
    margin-bottom: 25px;
}

.products .ul_text {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.products .ul_text>ul {
    padding-inline-start: 0px;
    width: 45%;
    margin: 0 10px 10px;
}

.about {
    background-color: #F4F5F7;
    padding: 40px 0 60px;
}

.about>h2 {
    width: 960px;
    font-size: 36px;
    margin: auto;
    text-align: center;
    padding: 20px 0;
    line-height: 1.5;
    padding: 10px 0 60px;
}

.about .wrap {
    display: flex;
    flex-wrap: wrap;
}

.about .wrap .item {
    width: 30%;
    margin: auto;
    text-align: center;
    margin-bottom: 25px;
}

.about .wrap .item>h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: normal;
}


.about>p {
    width: 760px;
    font-size: 16px;
    margin: auto;
    text-align: center;
    padding: 20px 0;
    line-height: 1.5;
}

.about>img {
    width: 100%;
}

.five_icon {
    margin: auto;
    width: 960px;
    background-color: white;
    padding: 40px 0 60px;
}

.five_icon>h2 {
    font-size: 28px;
    text-align: center;
}

.five_icon>span {
    color: rgb(92, 92, 245);
}

.five_icon .wrap {
    display: flex;
}

.five_icon .wrap .icon_item {
    width: 20%;
    margin: 0 10px;
    text-align: center;

}

.five_icon .wrap .icon_item:hover {
    background-color: rgb(142, 142, 243);
}

.five_icon .wrap .item {
    width: 50%;
}

.five_icon .text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    line-height: 1.35;
    letter-spacing: 0px;
}

.five_icon img {
    width: 100%;
}

.five_icon .text_top {
    height: 30%;
    color: #324255;
}

.five_icon .text_top>a {
    text-decoration: none;
    font-size: 15px;
}

.five_icon .text_mid {
    height: 60%;
}

.five_icon .text_btm {
    height: auto;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: #00142D;
    color: #888;
    padding-bottom: 20px;
}

.footer .top {
    background-color: #032855;
    display: flex;
    width: 100%;
    padding: 20px 0;
}

.footer .top_left {
    width: 70%;
    margin-left: 80px;
}

.footer .top_right {
    width: 30%;
}

.footer img {
    width: 100%;
}

.footer h4 {
    font-size: 40px;
    color: white;
    font-weight: lighter;
    line-height: 2;
    text-align: left;
    padding-bottom: 5%;
}

.footer .line {
    width: 100%;
    text-align: left;
}

.footer_bluebutton {
    text-decoration: none;
    color: white;
    background: #0061FF;
    padding: 10px 100px;
    font-size: 20px;
    border-radius: 25px;
}

.footer_bluebutton>i {
    text-align: right;
}

.footer .fwrap {
    /* justify-content:center; */
    padding: 80px 5%;
    margin: auto;
    display: flex;
    margin-bottom: 50px;
    justify-content: space-around;
}

.footer .item {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.footer .fwrap h4 {
    padding-bottom: 5%;
    display: inline-block;
    color: white;
    font-size: 17px;
    line-height: 1.2;
    white-space: nowrap;
}

.footer .fwrap li {
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 10px;
    text-align: left;
}

.footer .fwrap a {
    color: #748094;
    display: inline-block;
    text-decoration: none;
    margin-top: 10px;
    padding: 0;
    font-size: 17px;
}