.w_die {
    width: 960px;
    margin: auto;
}

.w_die h2 {
    padding-top: 100px;
    padding-bottom: 10px;
    justify-self: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.h2_under_line {
    /* padding-top: 15px; */
    width: 30px;
    margin: auto;
    border-bottom: 1px solid;
    border-width: 4px;
}

.wrap {
    width: 100%;
    padding: 50px 0;
    display: flex;
}

.wrap .item {
    width: 25%;
    border: 1px solid #ccc;
    margin-right: 8PX;
    /* border-width: 1px; */
    border-bottom-width: 2px;
    border-bottom-color: rgb(230, 33, 33);
    text-align: center;
    cursor: pointer;
    /* justify-content: space-between; */
}

.wrap .item:hover {
    background-color: rgb(189, 2, 2);
    color: white;
}

.product {
    margin: auto;
    position: relative;
}

.product .title {
    color: white;
}

.title .theme {
    display: flex;
    background-color: #b80d21;
    margin: 0 0 -2% 0;
    padding-top: 1%;
    
}

.title .narrative {
    padding: 10px 15px;
    background-color: black;
}

.title .narrative p {
    font-size: 18px;
}

.narrative h1{
    font-size: 1.5em;
    font-weight: bold;
}

.product .title .theme h1 {
    display: inline;
    width: 100%;
    margin: auto 0 ;
    font-size: 3em;
    font-weight: lighter;
}

/* .product .title .theme h1::before{
    content: '01';
    font-weight: lighter;
    font-size: 100px;
    writing-mode: vertical-lr;
    font-family:PMingLiU;
} */

.product .title span {
    font-weight: lighter;
    font-size: 7rem;
    writing-mode: vertical-lr;
    margin-left: -8%;
    font-family:PMingLiU;
}

.detail h1 {
    /* width: auto; */
    /* display: inline; */
    font-size: 24px;
    font-weight: bold;
    color: #b80d21;
}

.detail .red_line {
    display: inline-block;
    width: 60%;
    border: 1px solid;
    border-color: #b80d21;
    margin: 10px 0;
}

.detail li:nth-child(odd) {
    display: inline;
    margin-left: -20px;
    list-style: none;
    background-color:black;
    color:#ccc;
}

.detail li:nth-child(even) {}

.product:nth-child(odd) .video {
    background-image: "Toyota/red_car.png";
    float: right;
    margin-top: 200px;
    padding-right: 100px;
    width: 700px;
    height: 430px;
    cursor: pointer;
}

.product:nth-child(odd) .title {
    float: left;
    margin-top: -559px;
    width: 33%;
}

.product:nth-child(odd) .detail {
    background-color: rgb(207, 207, 207);
    position: absolute;
    max-width: 680px;
    width: auto;
    /* height: 270px; */
    padding: 20px 50px;
    margin-top: 590px;
}

.product:nth-child(odd) .shadow {
    user-select: none;
    float: right;
    margin-top: 100px;
    margin-bottom: -500px;
    width: 440px;
    height: 300px;
    background-color: rgb(247, 244, 244);
}

.product:nth-child(even) .video {
    float: left;
    margin-top: 200px;
    padding-right: 100px;
    width: 700px;
    height: 430px;
}

.product:nth-child(even) .title {
    float: right;
    margin-top: -585px;
    width: 360px;
    height: 390px;
}

.product:nth-child(even) .detail {
    float: right;
    width: 680px;
    height: 270px;
    margin-top: -30px;
}

.product:nth-child(even) .shadow {
    margin-top: 50px;
    margin-bottom: -400px;
    margin-left: 330px;
    width: 440px;
    height: 300px;
    background-color: rgb(211, 211, 211);
}



/*         ICON           */

.draw{
    position: relative;
    cursor: pointer;
}

.draw_youtube{
    width: 0;
    height: 0;
    border-left: 15px solid #ffffff;
    border-top:  9px solid transparent;
    border-bottom: 12px solid transparent;
    position: absolute;
    right: 105px;
    top: 413px;
    z-index: 1;
}

.draw_youtube_bg{
    width:  60px;
    height: 35px;
    background-color: #f51a33;
    position: absolute;
    right: 87px;
    top: 405px;
    z-index: 0;
    border-radius: 2px;
}
